.containerBox {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 500px 2000px;
    border-color: transparent transparent #f2f2f2 transparent;
    position: relative;
    top: -500px;
    right: 300px;
}

.emergencey-area {
    background: #d5d5d54d;
    padding-bottom: 10px;
    position: relative;
    margin-top: 30px;
    height: 100px;
}




.emergencey-area:before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    content: "";
    background: #fff;
}
.emergencey-wrap {
    padding: 60px;
    box-shadow: 0px 2px 14.25px 0.75px rgba(58, 58, 58, 0.15);
    background: #fff;
    position: relative;
    z-index: 10;
    display: inline-block;
    margin: 0 23px;
    margin-top: -80px;
    top: -650px;
    right: 26px;
}

.emergencey-icon {
    float: left;
    margin-right: 20px;
}

.emergencey-text {
    overflow: hidden;
    margin-left: 20px;
}

.emergencey-text h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.emergencey-text span {
    color: #121127;
    font-weight: 700;
    display: block;
    margin-top: 15px;
}

.emergencey-text ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e9e8e8;
    margin-bottom: 15px;
    font-weight: 700;
}

.emergencey-text ul li:last-child {
    margin-bottom: 0;
}

.emergencey-hour {
    padding-left: 40px;
    border-left: 1px solid #e9e8e8;
}

.emergencey-hour .emergencey-text span {
    margin-top: 0;
}

.emergencey-hour .fi:before {
    margin: 0;
    font-size: 40px;
}
@media(max-width: 991px){
    .emergencey-wrap {
        margin-top: 0;
    }

    .emergencey-text h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }

  

}
@media(max-width: 767px){
    .emergencey-hour {
        padding-left: 0px;
        border-left: 0;
        margin-top: 90px;
    }

    .emergencey-wrap {
        padding: 37px;
        box-shadow: 0px 2px 14.25px 0.75px rgba(58, 58, 58, 0.15);
        background: #fff;
        position: relative;
        z-index: 10;
        display: inline-block;
        margin: 0 0px;
        margin-top: -80px;
    }

    

}


@media(max-width: 378px){

    .containerBox {
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 0 500px 1000px;
        border-color: transparent transparent #f2f2f2 transparent;
        position: relative;
    }

}